@tailwind base;
@tailwind components;
@tailwind utilities;



.linearGradient {
  @apply bg-gradient-to-t from-[#C99D3E] via-[#DEC476] to-[#EAD996]
}


.bg_image {
  background-image: url(../../public/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bg_image2 {
  background-image: url(../../public/images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.box_shadow {
  box-shadow: 7pt 7pt 10pt rgba(194, 193, 192, 0.75);
}

.drop_shadow {
  filter: drop-shadow(7pt 7pt 10pt rgba(103, 103, 103, 0.75));
}