@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'calibri';
  src: url('/src/lib/Calibri/Calibri.ttf');
  /* You can include additional font file formats for better cross-browser support */
}


.calibri {
  font-family: calibri;
}

.bg_image {
  background-image: url(../../public/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bg_image2 {
  background-image: url(../../public/images/bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.box_shadow {
  box-shadow: 7pt 7pt 10pt rgba(194, 193, 192, 0.75);
}

.drop_shadow {
  filter: drop-shadow(7pt 7pt 10pt rgba(103, 103, 103, 0.75));
}